// Specific CSS for your home-page

.home-content-container {
  display: block;
  width: 100%;
  border-bottom: none;
  font-size: 1.7rem;
  line-height: 2.1rem;
  max-width: 950px;
  margin: 5% auto 10% auto;
  // margin: auto;
}


.banner {
  text-align: center;
  align-items: center;

}

 .banner-title {
   font-size: 10rem;
   margin-bottom: 7rem;
 }

.banner-description {
  // padding-top: 7rem;
}

.cards-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin-top: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.cards-container img {
  padding-top: 2rem;
  height: 350px;
  width: 280px;
}

.cards-container a {
  text-decoration: none;
  color: white;
}

.more-categories {
  text-align: center;
  margin-top: 2rem;
}

.footer {
  text-align: center;
  margin-top: 2rem;
}

.footer {
  text-align: center;
  margin-top: 2rem;
}

.footer a:visited {
  text-decoration: none;
  color: orange;
 }
