.home-back-button {
  font-size: large;
  text-align: left;
  color: #FFFFFF;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 13px;
  margin-left: auto;
  text-decoration: underline;
  cursor: pointer;
}
