.footer {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: white;
}

.footer a {
  color: orange;
}

//.footer a:visited {
//  text-decoration: none;
//  color: orange;
// }
