.back-button {
  font-size: large;
  text-align: left;
}

.back-button h3 {
  color: #FFFFFF;
  font-size: large;
  padding-left: 20px;
  padding-top: 10px;
  text-align: left;
  margin-top: 13px;
  margin-left: auto;
  text-decoration: underline;
}
