.designs-flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // background-color: white;
  // height: 100vh;
  overflow: visible;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  justify-content: center;
  margin-bottom: 5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
.design-card {
  width: 280px;
  height: 350px;
  margin: 40px 5px 10px 25px;
  // background-color: white;
  // box-shadow: 5px 4px 5px 0px rgba(29,36,89,0.65);
}

// .design-card-image {
//   width: 280px;
//   height: 350px;
//   // object-fit: cover;
// }

.design-card:hover {
  // box-shadow: 5px 4px 5px 0px rgba(29,36,89,0.65);
  // transform: scale(1.1);
}

// media queries

@media (max-width: 768px) {
  .design-card {
    width: 280px;
    height: 350px;
    margin: 40px 5px 10px 25px;
  }
}
